
body {
background:$base-color;
height:100%;
background: linear-gradient(45deg, dodgerblue, cadetblue);
}
/*...........main div styling..........*/
.wrapper {
width: 800px;
margin: 30px auto;
color: hotpink;
text-align:center;
}


/*.....Heading style..........*/
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

/*.....seconds and milli seconds Styling.....*/
#seconds, #tens{
  font-size:2em;
}

/*......button styling.........*/
button{
background:linear-gradient(45deg,blueviolet, gray, hotpink, deeppink);
color:$white;
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
outline: none;
transition: 0.3s ease-in;
}
button:hover{
  font-size: 2rem;
}






